.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 0px) {
  .banner-logo img {
    width: 315px;
    height: 200px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .banner-logo img {
    width: 315px;
    height: 200px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .banner-logo img {
    width: 500px;
    height: 385px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .banner-logo img {
    width: 500px;
    height: 385px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .banner-logo img {
    width: 500px;
    height: 385px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.content {
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}

.site-banner {
  background: url(../../public/img/Banner.jpg);
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.site-text {
  font-family: "Poiret One", Sans-serif;
}

.banner-btn {
  margin-top: 20px;
  width: 50%;
  height: 58px;
  background: #0861a3;
  color: #ffffff;
  font-size: 18px;
  font-family: CenturyGothic;
}

// .site-banner .content-main {
//   width: 100%;
//   height: 100%;
//   top: 0%;
//   left: 0%;
//   position: absolute;
// }
